<div>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Enter your AccountName</mat-label>
        <input matInput placeholder="AccountName" [formControl]="sacc" required>
        <mat-error *ngIf="sacc.invalid">{{getErrorMessage()}}{{err.get("sacc")}}</mat-error>
    </mat-form-field><br>
    
    <mat-form-field appearance="fill">
        <mat-label>Enter your Password</mat-label>
        <input matInput placeholder="Password" [formControl]="spwd" required>
        <mat-error *ngIf="spwd.invalid">{{getErrorMessage()}}{{err.get("spwd")}}</mat-error>
    </mat-form-field> -->

    <!-- #loginForm="ngForm" -->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
            <mat-label>Enter your AccountName</mat-label>
            <input matInput placeholder="AccountName" [formControl]="sacc" [(ngModel)]="student.sacc" required>
            <mat-error *ngIf="sacc.invalid">{{getErrorMessage()}}{{err.get("sacc")}}</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label id = "fff">Enter your Password</mat-label>
            <input matInput placeholder="Password" [formControl]="spwd" [(ngModel)]="student.spwd" type="password" required>
            <mat-error *ngIf="spwd.invalid">{{getErrorMessage()}}{{err.get("spwd")}}</mat-error>
        </mat-form-field>

        <mat-card-actions>
            <button mat-raised-button color="primary"  
                [disabled]= "loginForm.invalid"type="submit" >Submit</button>
        </mat-card-actions>
    </form>

    

</div>
<mat-card>
    <!-- {{loginForm.value}} -->
    <!-- {{loginForm.status}} -->
    <!-- {{loginForm.invalid}} -->
    {{result | json}}
    
</mat-card>